/********** Font **********/
.small-text {
    font-size: 12px;
    font-weight: 300;
    color: #FFFFFF;
}

.medium-text {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

.large-text {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.white-text {
    color: white;
}

.left-aligned {
}

.center-aligned {

}

.right-aligned {

}

/********** Components **********/
header {
    background-color: #333333;
    border: solid;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px;
    box-sizing: border-box;
}

.header-left {
    display: flex;
    width: 407px;
    height: 100px;
    align-items: flex-start;
    flex-shrink: 0;
}

.header-right {
    width: 233px;
    height: 23px;
    align-items: flex-end;
    flex-shrink: 0;
}

main {
    flex: 1; /* Skubber footeren ned */
}

html, body {
    background-image: url("../images/Carpool_Background.png");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    height: 100%;              /* Sørg for at fylde hele højden */
    margin: 0;                 /* Fjern default margin */
    display: flex;             /* Brug flex layout */
    flex-direction: column;    /* Indhold under hinanden */
}


/* Footer - tilføj display: flex for at få kolonner side om side */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333333;
    border: solid;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 40px;
    box-sizing: border-box;

}

.footer-left {
    display: flex;
    width: 400px;
    height: 197px;
    padding: 0 30px;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    gap: 6px;
    flex-shrink: 0;
}

.footer-middle {
    display: flex;
    width: 400px;
    height: 197px;
    padding: 0 30px;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    text-align: center;
}

.footer-right {
    display: flex;
    width: 200px;
    padding: 0px 30px;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    text-align: right;
}

/* Tilføj hvid tekst */
footer {
    color: #FFFFFF;
}

footer p {
    color: #FFFFFF;
    margin: 8px;
}


/********** Images **********/
#logo {
    width: 150px;
    height: 100px;
    flex-shrink: 0;
    aspect-ratio: 3/2;
}