/********** Font **********/
.small-text {
    font-size: 12px;
    font-weight: 300;
    color: #FFFFFF;
}

.medium-text {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

.large-text {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.white-text {
    color: white;
}

.left-aligned {
}

.center-aligned {

}

.right-aligned {

}

/********** Components **********/
header {
    background-color: #333333;
    border: solid;
}

body {
    background-image: url("../images/Carpool_Background.png");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Billede følger ikke med scroll */
    min-height: 100vh; /* Sikrer fuld højde */
}


/* Footer - tilføj display: flex for at få kolonner side om side */
footer {
    background-color: #333333;
    border: solid;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px;
    box-sizing: border-box;
}

.footer-left {
    display: flex;
    width: 400px;
    height: 197px;
    padding: 0 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
}

.footer-middle {
    display: flex;
    width: 400px;
    height: 197px;
    padding: 0 30px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    text-align: center;
}

.footer-right {
    display: flex;
    width: 200px;
    padding: 0px 30px;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    text-align: right;
}

/* Tilføj hvid tekst */
footer {
    color: #FFFFFF;
}

footer p {
    color: #FFFFFF;
    margin: 0;
}


/********** Images **********/
#logo {
    width: 150px;
    height: 100px;
    flex-shrink: 0;
    aspect-ratio: 3/2;
}